<div class="container mt-3">
    <div class="text-center">
      <h3>Budget</h3>
    </div>
  
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <a class="btn btn-primary" href="#" routerLink="#">New Budget</a>
        <table class="table">
          <thead>
            <tr>
              <td>Title</td>
              <td>Amount</td>
              <td>Category</td>
              <td>###</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let budget of budgets">
              <td>{{ budget.title }}</td>
              <td>{{ budget.amount }}</td>
              <td>{{ budget.category }}</td>
              <td>
                  <a class="btn btn-warning btn-sm" [routerLink]="['/budget', budget.id, 'edit']">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  