<h2 class="display-2 my-3">{{ issue?.id ? 'Edit' : 'New' }} issue</h2>

<form action="" (ngSubmit)="onSubmit()" [formGroup]="issueForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      placeholder="Title"
      formControlName="title"
      class="form-control"
      [class.is-invalid]="setIsInvalidClass('title')"
      [class.is-valid]="issueForm.get('title')?.valid"
    />
    <div class="invalid-feedback">Please provide a title!</div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      rows="5"
      formControlName="description"
      class="form-control"
      [class.is-invalid]="setIsInvalidClass('description')"
      [class.is-valid]="issueForm.get('description')?.valid"
    ></textarea>
    <div class="invalid-feedback">Please provide a description!</div>
  </div>
  <div class="form-group">
    <label for="place">Place</label>
    <input
      type="text"
      placeholder="Place"
      formControlName="place"
      class="form-control"
      [class.is-invalid]="setIsInvalidClass('place')"
      [class.is-valid]="issueForm.get('place')?.valid"
    />
    <div class="invalid-feedback">Please provide a place!</div>
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select
      formControlName="status"
      class="form-control"
      [class.is-invalid]="setIsInvalidClass('status')"
      [class.is-valid]="issueForm.get('status')?.valid"
    >
      <option value="NEW">New</option>
      <option value="DOING">Doing</option>
      <option value="DONE">Done</option>
    </select>
    <div class="invalid-feedback">Please provide a status!</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="issueForm.invalid">
    Submit
  </button>
</form>
